.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components/common/swiper/index.js
src/components/common/swiper/Swiper.vue
src/components/common/swiper/SwiperItem.vue
src/network/home.js
src/network/request.js
src/views/home/FeatureView.vue
src/views/home/Home.vue
src/views/home/childComps/HomeSwiper.vue
src/views/home/childComps/RecommendView.vue
